@tailwind base;
@tailwind components;
@tailwind utilities;

.h-nav {
  height: 100px;
}

.h-content {
  min-height: calc(100vh - 100px);
}

@keyframes buoyancy {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.buoyancy {
  animation: buoyancy 2s ease-in-out infinite;
}

html {
  font-size: 16px;
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

body {
  @apply bg-gray-dark text-white;
}

h1 {
  @apply font-bold text-white;
  font-size: 2.5rem;
  line-height: 120%;
}

h2 {
  @apply font-bold text-white;
  font-size: 2rem;
  line-height: 120%;
}

h3 {
  @apply font-bold text-white;
  font-size: 1.75rem;
  line-height: 120%;
}

.subtitle-big,
h4 {
  @apply font-normal text-white;
  font-size: 1.5rem;
  line-height: 120%;
}

.subtitle {
  @apply font-normal text-white;
  font-size: 1.25rem;
  line-height: 120%;
}

p {
  @apply font-thin text-white;
  font-size: 14px;
  line-height: 140%;
}

small {
  @apply font-thin text-white;
  font-size: 12px;
  line-height: 140%;
}

code {
  font-family: "DM Mono", sans-serif !important;
  @apply bg-black px-2 py-0.5 rounded text-primary-100;
}

pre {
  font-family: "DM Mono", sans-serif !important;
  @apply bg-black text-sm text-primary-100;
}

a {
  @apply cursor-pointer;
}

/**
  * Markdown Documentation style
  */

.markdown-document h1 {
  @apply mb-5;
}

.markdown-document h2 {
  @apply mb-2 mt-8 border-b border-[rgba(255,255,255,0.2)] pb-2;
}

.markdown-document h3 {
  @apply mb-2 mt-8;
}

.markdown-document p {
  @apply mb-2 text-sm;
}

.markdown-document li {
  @apply text-sm font-thin;
}

.markdown-document > ul {
  @apply mb-2 text-white;
  list-style-type: disc;
}

.markdown-document > ul > li > ul {
  @apply text-white;
  list-style-type: disc;
}

.markdown-document > ol {
  @apply mb-2 text-white;
  list-style-type: decimal;
}

.markdown-document > ol > li > ol {
  @apply text-white;
  list-style-type: decimal;
}

.markdown-document ul li {
  @apply ml-5;
}

.markdown-document ol li {
  @apply ml-4;
}

.markdown-document table {
  @apply border-collapse border border-white my-2;
}

.markdown-document table th {
  @apply border border-white text-white font-regular px-3 py-1;
}

.markdown-document table td {
  @apply border border-white text-white font-thin px-3 py-1;
}

.markdown-document a {
  @apply text-primary-200 underline underline-offset-4;
}

.markdown-document a:hover {
  @apply text-primary-100;
}

.markdown-document code {
  @apply mr-1;
}
